<!DOCTYPE html>
<html>
  <head>
    <title>projekts</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <h1>Home</h1>
<div >
      <a class="btn btn-info" role="button" href="{{ url_for('rlg') }}">Riņka līnijas garums</a>
</div>
</body>                   
</html>
